textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"]{
  border-radius: 2px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"]{
  width: 100%;
  border: 1px solid #ccc;
  padding: 4px;
}

label{
  display: block;
  padding: 4px 0;
}

button,
input[type="submit"]{
  @include button(simple, #efefef);
  font-size: $base-font-size;
  font-style: normal;
  font-weight: normal;
}