$sprite_url: "images/sprite.png";

@mixin image-replace($image_url: $sprite_url){
  display: block;
  text-indent: -99999px;
  background: url($image_url) no-repeat;
}

@mixin image-replace-link($image_url: $sprite_url){
  &, & a{
    display: block;
    background: url($image_url) no-repeat;
  }
  a{
    text-indent: -99999px;
    text-decoration: none;
  }
}

@mixin unformatted-list{
  list-style: none;
  &, li{
    padding: 0;
    margin: 0;
  }
}

@mixin floated-list{
  list-style: none;
  &, li{
    display: block;
  }
  li{
    float: left;
  }
}

@mixin underline-on-hover{
  text-decoration: none;
  a{
    text-decoration: underline;
  }
}

@mixin nested-comment($depth: 1){
  @include unformatted-list;
  @include outer-container;
  article{
    @include span-columns(12-$depth);
    @include shift($depth);
  }
}

@mixin retina-display() {
  @media (min--moz-device-pixel-ratio: 1.5),
  (-o-min-device-pixel-ratio: 3/2),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 1.5dppx) {
    @content;
  }
}