blockquote {
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 26px;
  line-height: 50px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  text-indent: 16px;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
  font-style: normal;
  margin: 24px 0;
}
h1, h2, h3 {
  font-weight: 400;
}
h4, h5, h6 {
  font-weight: 800;
}

h1 {
  font-size: 36px;
  line-height: 42px;
}

h2 {
  font-size: 28px;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-size: 20px;
  line-height: 26px;
}

h5 {
  font-size: 18px;
  line-height: 22px;
}

h6 {
  font-size: 16px;
  line-height: 20px;
}

p {
  margin-bottom: 0px;
}

p.author {
  text-indent: 0px;
  margin-bottom: 25px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #666464;
}

p.intro {
  text-indent: 0px;
  margin-bottom: 25px;
  line-height: 50px;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}

small, footer.meta{
  font-size: 10px;
}