body {
  font-style: normal;
  font-weight: 400;
}

blockquote {
  margin-bottom: 25px;
  margin-top: 25px;
  &, p{
    font-size: $base-font-size + 16;
    line-height: 50px;
    text-align: left;
    text-indent: 16px;
    color: $subtle-font-color;
  }
  p{
    margin: 0;
  }
}

h1 {
  font-size: $base-font-size + 32;
  line-height: 62px;
  margin-bottom: 25px;
  font-weight: normal;
}

h2, h3, h4, h5, h6 {
  margin-top: 50px;
  margin-bottom: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  font-size: $base-font-size + 14;
  line-height: 40px;
}

h3 {
  font-size: $base-font-size + 12;
  line-height: 38px;
}

h4 {
  font-size: $base-font-size + 10;
  line-height: 36px;
}

h5 {
  font-size: $base-font-size + 8;
  line-height: 34px;
}

h6 {
  font-size: $base-font-size + 6;
  line-height: 32px;
}

p {
  text-indent: 0em;
  line-height: 32px;
  letter-spacing: 0px;
  margin-bottom: 20px;
}

p.author, p.date {
  text-indent: 0px;
  margin-bottom: 25px;
  font-size: $base-font-size - 2;
  letter-spacing: 1px;
  color: $meta-font-color;
  text-transform: uppercase;
  span {
    text-transform: none;
  }
}
p.author span{
  font-style: italic;
}

p.intro {
  text-indent: 0px;
  margin: 0 0 25px;
  line-height: 42px;
  font-size: $base-font-size + 12;
  letter-spacing: 0px;
  color: $subtle-font-color;
}