// Neat settings
$max-width: golden-ratio(1em, 8);

// Custom variables
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$dark-font-color: #333;
$light-font-color: #eee;

$page-background-color: #eeeeeb;

$header-top-border-color: #141717;
$header-top-border-size: 16px;
$header-top-background-color: #222627;

$logo-color: $light-font-color;