// Neat settings
$max-width: golden-ratio(1em, 9);

// Custom variables
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$dark-font-color: #333 !default;
$title-font-color: $dark-font-color !default;
$light-font-color: #eee !default;
$subtle-font-color: #8c8a8a !default;
$meta-font-color: #666464 !default;
$visited-link-color: #666 !default;
$active-link-color: #999 !default;

$page-background-color: #fff !default;

$content-top-padding: 44px !default;
$content-side-padding: 40px !default;

$header-top-border-color: #141717 !default;
$header-top-border-size: 16px !default;
$header-top-background-color: #222627 !default;
$header-logo-columns: 4 !default;
$header-nav-columns: 8 !default;

$logo-color: $light-font-color !default;

$article-background-color: #fff !default;
$article-border-radius: 0px !default;
$article-border-color: #fff !default;
$article-border-size: 0px !default;

$comments-background-color: none !default;

$main-content-background: transparent !default;
$middle-column-background: #f2f2f2 !default;
$right-column-background: transparent !default;

$middle-column-text-color: #455761 !default;
$middle-column-header-color: $middle-column-text-color !default;
$middle-column-link-color: $middle-column-text-color !default;

$middle-column-side-padding: 30px !default;

$main-content-column-span: 7 !default;
$middle-column-span: 3 !default;
$right-column-span: 2 !default;